node_modules
npm-debug.log
pnpm-debug.log
Dockerfile
.git
.gitignore
dist
.next
.env
.eslintcache
**/node_modules
**/.next
**/dist
**/build
.git
# .env
.env.*
docker-compose.yml
README.md
tmp
**/**/node_modules
**/**/.next
**/**/dist
**/**/build