version: '3.9'

services:
  auth-redis:
    image: redis:7.2
    container_name: auth_redis
    restart: always
    ports:
      - "6379:6379"
    command: [
      "redis-server",
      "--appendonly", "yes",
      "--maxmemory", "256mb",
      "--maxmemory-policy", "allkeys-lru"
    ]
    volumes:
      - redis-data:/data

volumes:
  redis-data:
